@font-face {
  font-family: 'PressStart2P';
  line-height: normal;
  src: url('/font/arcade/PressStart2P.woff') format('woff'), /* Pretty Modern Browsers */
       url('/font/arcade/PressStart2P.ttf')  format('truetype'), /* Safari, Android, iOS */
       url("/font/arcade/PressStart2P.svg#PressStart2P") format('svg')  /* Legacy iOS */;
}
